*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #010103; */
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #010103;
}
.header__menu{
    display: flex;
    list-style: none;
}
.header__link{
    color: white;
}