*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #010103;
    font-weight: 400;
    color: white;
}
.heading{
    color: #D3AD7F;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 50px;
}
.heading span{
    color: white;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.header{
    background-color: #010103;
    border-bottom: 1px solid #4D4E4F;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #010103;
    padding: 15px 0;
}
.header__menu{
    display: flex;
    list-style: none;
    gap: 20px;
}
.header__item:hover .header__link{
    color: #D3AD7F;
}
.header__item:hover .header__link::after{
    opacity: 1;
    transform: translateY(7px);
}
.header__link::after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #D3AD7F;
    transition: all .5s;
    opacity: 0;
}
.header__link{
    position: relative;
    color: white;
    text-decoration: none;
}
.header__icon i{
    color: white;
    font-size: 23px;
    margin: 0 10px;
    cursor: pointer;
}
.header__icon i:hover{
    color: #D3AD7F;
}
.header__logo img{
    width: 70px;
}
.banner__content{
    position: relative;
    width: 100%;
    height: 850px;
}
.banner__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner__text{
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
    width: 570px;
}
.banner__title{
    font-size: 58px;
    color: white;
}
.banner__desc{
    font-size: 20px;
    color: rgb(238, 238, 238);
    font-weight: lighter;
    line-height: 1.8;
    margin: 20px 0;
}
.btn{
    background-color: #D3AD7F;
    border: none;
    color: white;
    padding: 8px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: all .25s;
}
.btn:hover{
    letter-spacing: 1px;
}
.menu__text{
    width: 300px;
}
.menu__item:hover{
    background-color: white;
}
.menu__item:hover *{
    color: black;
}
.about__image{
    width: 100%;
    display: block;
}
.about__left, .about__right{
    width: 50%;
}
.about__content{
    display: flex;
}
.about__title{
    color: white;
    font-size: 30px;
}
.about__right{
    display: flex;
    align-items: center;
}
.about__desc{
    color: rgb(238, 238, 238);
    margin-top: 10px;
    line-height: 1.8;
}
.about__button{
    margin-top: 25px;
}
.about__text{
    margin-left: 20px;
}
.menu__content{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.menu__item{
    width: calc(25% - 15px);
    border: 1px solid #4D4E4F;
    height: 335px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s;
}
.menu__title{
    color: white;
    margin-top: 20px;
}
.price{
    color: white;
    font-size: 25px;
    margin: 20px 0;
}
.old{
    color: rgb(238, 238, 238);
    text-decoration: line-through;
    font-size: 15px;
}
.products__content{
    display: flex;
    gap: 20px;
}
.products__item{
    width: calc(33% - 20px);
    border: 1px solid #4D4E4F;
    text-align: center;
    padding: 25px 0;
}
.products__title{
    color: white;
    margin-top: 20px;
    font-size: 25px;
}
.products__social{
    margin-bottom: 25px;
}
.products__social i:hover {
    background-color: #D3AD7F;
}
.products__social i {
    color: white;
    padding: 10px 10px;
    border: 1px solid #4D4E4F;
    font-size: 18px;
    margin: 0 1px;
    cursor: pointer;
}
.star {
    color: #D3AD7F;
    margin-top: 15px;
}
.review__content{
    display: flex;
    gap: 25px;
}
.review__item{
    width: calc(33% - 25px);
    border: 1px solid #4D4E4F;
    text-align: center;
    padding: 30px 25px;
}
.review__desc{
    color: rgb(238, 238, 238);
    line-height: 1.8;
    margin: 25px 0;
}
.review__avatar{
    border-radius: 50%;
    width: 70px;
    margin-bottom: 15px;
}
.contact__content{
    display: flex;
    gap: 30px;
    padding-right: 20px;
    background-color: #13131A;
}
.contact__map{
    width: 50%;
}
.contact__map iframe{
    width: 100%;
}
.contact__right{
    display: flex;
    align-items: center;
    width: 50%;
}
.contact__box{
    width: 100%;
}
.contact__input{
    height: 60px;
    width: 100%;
    border: 1px solid #4D4E4F;
    display: flex;align-items: center;
    padding: 0 20px;
    margin-bottom: 25px;
}
.contact__input input{
    background-color: transparent;
    border: none;
    margin-left: 20px;
    width: 100%;
    height: 22px;
    color: white;
    font-size: 20px;
}
.contact__input input:focus{
    outline: none;
}
.contact__input input::placeholder{
    font-size: 18px;
}
.contact__input i {
    font-size: 23px;
}
.contact__button{
    text-align: center;
}
.blog__content{
    display: flex;
    gap: 20px;
}
.blog__item{
    width: calc(33% - 20px);
    border: 1px solid #4D4E4F;
    overflow: hidden;
}
.blog__item:hover .blog__img{
    transform: scale(1.2);
}
.blog__image{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.blog__img{
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.blog__text{
    padding: 30px 20px 15px;
}
.blog__title{
    font-size: 27px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    transition: all .25s;
}
.blog__title:hover{
    color: #D3AD7F;
}

.blog__time{
    color: #D3AD7F;
    font-size: 20px;
    margin: 15px 0;
    display: inline-block;
}
.blog__desc{
    line-height: 1.6;
    margin-bottom: 20px;
}
.footer{
    background-color: #13131A;
    text-align: center;
    padding: 30px 0;
}
.footer__social i{
    font-size: 23px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #4D4E4F;
    margin: 0 5px;
    border-radius: 50%;
}
.footer__menu{
    display: flex;
    justify-content: center;
    list-style: none;

}
.footer__link{
    color: white;
    text-decoration: none;
}
.footer__item{
    padding: 10px 20px;
}